td {
    width: 60px;
}

/*#menu ul {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

    #menu ul li {
        float: left;
    }

#menu {
    width: 500px;
}*/

#reder {
    width: 100%;
    float: left;
    text-align: center;
}

.box {
    width: 350px;
    height: 300px;
    background: #999;
    padding-top: 20px;
    padding-left: 60px;
    display: none;
    z-index: 999;
    position: absolute;
}

    .box li {
        float: left;
        list-style: none;
    }

        .box li a {
            border: 5px solid #aaa;
            display: block;
            width: 100px;
            height: 60px;
            text-decoration: none;
            margin: 0 0 -5px -5px;
            position: relative;
            z-index: 0;
            text-align: center;
            line-height: 60px;
            color: #fff;
            font-size: 30px;
        }

            .box li a:hover {
                border: 5px solid #333;
                z-index: 1;
            }

body {
    background: #f8f8f8;
}

* {
    padding: 0;
    margin: 0;
}
/**************日历界面css***************/
.dataTop {
    height: 1.3rem;
    width: 100%;
}

.dataTopChoose {
    height: 0.74rem;
    width: 100%;
    position: relative;
}

.icon-uniE90B {
    height: 0.6rem;
    width: 0.6rem;
    display: inline-block;
    position: absolute;
    right: 0.1rem;
    top: 0.12rem;
}

    .icon-uniE90B:before {
        font-size: 0.3rem;
        float: left;
        margin: 0.1rem;
    }

.icon-uniE901 {
    height: 0.6rem;
    width: 0.6rem;
    display: inline-block;
    position: absolute;
    left: 0.1rem;
    top: 0.12rem;
}

    .icon-uniE901:before {
        font-size: 0.3rem;
        float: left;
        margin: 0.1rem;
    }

.dataTopToday {
    display: block;
    width: 2rem;
    height: 0.74rem;
    line-height: 0.74rem;
    text-align: center;
    margin-left: 2.2rem;
    font-size: 0.28rem;
}

.dataTopWeek {
    height: 0.56rem;
    width: 100%;
    list-style: none;
}

    .dataTopWeek li {
        font-size: 0.28rem;
        float: left;
        line-height: 0.56rem;
        text-align: center;
        width: 14.27%;
    }

.dataTopDay {
    height: 0.56rem;
    width: 100%;
    list-style: none;
    /*display:none;*/
}

    .dataTopDay li {
        font-size: 0.28rem;
        float: left;
        line-height: 0.56rem;
        text-align: center;
        width: 14.27%;
        background: #fff;
        position: relative;
    }

        .dataTopDay li span {
            height: 90%;
            width: 70%;
            position: absolute;
            left: 15%;
            top: 5%;
            border-radius: 50%;
            /*border:1px solid #169be8;*/
        }

.yearChoose {
    width: 6.4rem;
    height: auto;
    border-collapse: collapse;
    display: none;
}

    .yearChoose td {
        border: 1px solid #acacac;
        height: 1.6rem;
        background: #fff;
        font-size: 0.28rem;
        text-align: center;
        color: #acacac;
    }

    .yearChoose .tdBtn {
        color: red;
    }

/***********首页css***********/

.indexTop {
    width: 100%;
    height: 1.4rem;
    background: #fff;
}

    .indexTop span {
        width: 30%;
        height: 0.6rem;
        display: block;
        float: left;
        text-align: center;
        font-size: 0.28rem;
        line-height: 0.6rem;
    }

    .indexTop select {
        width: 65%;
        height: 0.6rem;
        font-size: 0.28rem;
        float: left;
        border: none;
        outline: none;
    }

.smile {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    border: 1px solid #ACACAC;
    float: left;
    margin: 0 0.7rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.6rem;
}

.indexTopData {
    height: 0.5rem;
    width: 3rem;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.5rem;
    border: 1px solid #ACACAC;
    float: left;
    margin: 0.05rem 0.3rem;
}

.notice {
    height: auto;
    width: 94%;
    background: #fff;
    padding: 0.2rem 3%;
    margin-top: 0.2rem;
}

    .notice span:nth-child(1) {
        height: 0.4rem;
        width: 100%;
        display: block;
        font-size: 0.3rem;
        border-bottom: 1px solid #acacac;
    }

    .notice span:nth-child(2) {
        height: auto;
        width: 100%;
        display: block;
        font-size: 0.28rem;
        margin-top: 0.2rem;
        line-height: 0.4rem;
    }

    .notice .month {
        height: auto;
        width: 100%;
        display: block;
        font-size: 0.28rem;
        margin-top: 0.2rem;
        line-height: 0.4rem;
    }

.listTd {
    height: auto;
    width: 3.9rem;
    border-collapse: collapse;
    margin-left: 1rem;
}

    .listTd td {
        border: 1px solid #ACACAC;
        height: 0.3rem;
        width: 1.3rem;
        font-size: 0.28rem;
        text-align: center;
    }
