@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?yrcphu');
    src:    url('../fonts/icomoon.eot?yrcphu#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?yrcphu') format('truetype'),
        url('../fonts/icomoon.woff?yrcphu') format('woff'),
        url('../fonts/icomoon.svg?yrcphu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pc:before {
    content: "\e900";
}
.icon-uniE901:before {
    content: "\e901";
}
.icon-uniE902:before {
    content: "\e902";
}
.icon-uniE903 .path1:before {
    content: "\e903";
    color: rgb(231, 31, 25);
}
.icon-uniE903 .path2:before {
    content: "\e904";
    margin-left: -1.0009765625em;
    color: rgb(255, 255, 255);
}
.icon-uniE905:before {
    content: "\e905";
}
.icon-uniE906:before {
    content: "\e906";
}
.icon-uniE907:before {
    content: "\e907";
}
.icon-uniE908:before {
    content: "\e908";
}
.icon-uniE909 .path1:before {
    content: "\e909";
    color: rgb(80, 172, 59);
}
.icon-uniE909 .path2:before {
    content: "\e90a";
    margin-left: -1.0009765625em;
    color: rgb(255, 255, 255);
}
.icon-uniE90B:before {
    content: "\e90b";
}

